.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  height: 100vh;
  min-height: 500px;

  .hero {
    max-width: 300px;
    margin-top: 80px;
  }

  div {
    display: flex;
    gap: 25px;
    justify-content: center;

    a {
      margin: 0;

      img {
        width: 50px;
      }
    }
  }

  a {
    width: fit-content;
    align-self: center;
  }

  button {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 20px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 200ms ease-in-out;
  }

  button:hover {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px) scale(1.05);
  }

  button:active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
  }
}

.colorModeContainer {
  position: relative;
  animation: slideInRight 1s ease-out;
}

.colorModeWrapper {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  margin-top: 20px;
}

.colorMode {
  width: 40px;
}

.colorMode:hover {
  cursor: pointer;
}

.colorModeMessage {
  font-family: 'Caveat', cursive;
  font-size: 24px;
  font-weight: 400;
  color: var(--text-color);
}

.colorModeMessage::after {
  content: var(--arrow-icon);
  color: var(--text-color);
  position: absolute;
  rotate: -20deg;
  top: 50%;
  transform: translateY(-50%);
  right: -35px;
}

.description {
  max-width: 24ch;
  align-self: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  animation: slideInLeft 1s ease-out;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeftSmall {
  from {
    transform: translateX(-200%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRightSmall {
  from {
    transform: translateX(200%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (width < 800px) {
  .colorModeContainer {
    animation: slideInRightSmall 1s ease-out;
  }

  .info {
    animation: slideInLeftSmall 1s ease-out;
  }
}

@media (width >= 800px) {
  .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;

    .hero {
      max-width: 350px;
      width: 350px;
    }
  }
}

@media (width >= 1400px) {
  .container {
    .hero {
      max-width: 400px;
      width: 400px;
    }
  }
}
