.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  span {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px;
  }

  img {
    width: 50px;
  }

  h1 {
    margin-top: 100px;
  }
}

.skillList {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  flex-wrap: wrap;
  row-gap: 40px;
  max-width: 40ch;
  padding: 20px 0px;
}

h4 {
  color: var(--text-color);
  font-family: 'Roboto Mono', monospace;
  font-size: 28px;
  padding: 20px;
  margin: 0px;
}

@media (width >= 800px) {
  .skillList {
    max-width: fit-content;
    gap: 30px;

    p {
      font-size: 20px;
    }
  }

  hr {
    width: 300px;
  }
}
