@keyframes textGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}

.animatedTitle {
  max-width: 250px;
  align-self: center;
  background-color: var(--project-card-bg);
  border-radius: 20px;
  padding: 128px 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.animatedTitle h1 {
  font-size: 60px;
  font-family: "Unbounded", sans-serif;
  background: linear-gradient(90deg, #17181D, #FF4A01, #FF4A01, #FF4A01, #17181D);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textGradient 5s ease infinite;
  text-transform: none;
}
